<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <nav>
        <a href="/">Home</a>
        <a href="/About">About</a>
        <a href="/Works">Works</a>
        <a href="/PhotoGallery">Gallery</a>
    </nav>

    <header>
        <h1>Who is Marcelino</h1>
    </header>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse at accusamus porro commodi vel nesciunt neque culpa voluptatum similique dignissimos nemo repellendus provident est ipsam cum, dolorem harum autem. Soluta! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam sunt rem placeat accusantium dolores ipsum. Assumenda possimus recusandae, alias rerum a quisquam et commodi exercitationem id eveniet quibusdam officia. Beatae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Et debitis reiciendis consequatur laboriosam, cupiditate omnis, natus sunt sequi quasi eveniet commodi? Itaque maxime sed enim, voluptates placeat quia natus. Dicta!

    Quam sunt rem placeat accusantium dolores ipsum. Assumenda possimus recusandae, alias rerum a quisquam et commodi exercitationem id eveniet quibusdam officia. Beatae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Et debitis reiciendis consequatur laboriosam, cupiditate omnis, natus sunt sequi quasi eveniet commodi? Itaque maxime sed enim, voluptates placeat quia natus. Dicta!
    </p>
    
    <footer>
        <img src="/1.png" />
        <img src="/2.png" />
        <img src="/3.gif" />
        <img src="/4.png" />
        <img src="/5.jpg" />
        <img src="/6.jpg" />
    </footer>


</body>
</html>