<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>

    <nav>
        <a href="Home.html">Home</a>
        <a href="About.html">About</a>
        <a href="Works.html">Works</a>
        <a href="PhotoGallery.html">Gallery</a>
    </nav>

    <header>
        <h1>Let me introduce him</h1>
    </header>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
       Quam sunt rem placeat accusantium dolores ipsum:
    </p>

    <div class="row">
        <div class="column">
            <img src="../public/img/avi i iaia forA.jpg" alt="foto 1">
            <img src="../public/img/IMG_1049.jpg" alt="foto 2">
            <img src="../public/img/IMG_1726.JPG" alt="foto 3">
        </div>

        <div class="column">
            <img src="../public/img/IMG_20200229_125814.jpg" alt="foto 4">
            <img src="../public/img/IMG_20200927_165127.jpg" alt="foto 5">
            <img src="../public/img/IMG_4769petita.jpg" alt="foto 6">
        </div>

        <div class="column">
            <img src="../public/img/IMG_6898.JPG" alt="foto 7">
            <img src="../public/img/IMG_6903.JPG" alt="foto 8">
            <img src="../public/img/IMG_9171.jpg" alt="foto 9">
        </div>
    </div>
    
    <footer>
        <img src="../public/1.png" />
        <img src="../public/2.png" />
        <img src="../public/3.gif" />
        <img src="../public/4.png" />
        <img src="../public/5.jpg" />
        <img src="../public/6.jpg" />
    </footer>


</body>
</html>