<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>

    <nav>
        <a href="Home.html">Home</a>
        <a href="About.html">About</a>
        <a href="Works.html">Works</a>
        <a href="PhotoGallery.html">Gallery</a>
    </nav>

    <header>
        <h1>Let me introduce him</h1>
    </header>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
       Quam sunt rem placeat accusantium dolores ipsum:
    </p>

    <div class="row">
        <div class="column">
            <img src="img/14122011451.JPG" alt="foto 1">
            <img src="img/14122011454.JPG" alt="foto 2">
            <img src="img/14122011461.JPG" alt="foto 3">
            <img src="img/14122011464.JPG" alt="foto 4">
            <img src="img/14122011465.JPG" alt="foto 5">
        </div>

        <div class="column">
            <img src="../public/img/_FXP9294.JPG" alt="foto 6">
            <img src="img/avi i iaia forA.jpg" alt="foto 7">
            <img src="img/bici robada.jpg" alt="foto 8">
            <img src="img/d7148ba1c3facd2aa7e5f936c77f46ca.jpg" alt="foto 9">
            <img src="img/DSC_0131.JPG" alt="foto 10">
        </div>

        <div class="column">
            <img src="img/foto del album recibido.JPG" alt="foto 11">
            <img src="img/foto germans.jpg" alt="foto 12">
            <img src="img/girafa mobil.jpg" alt="foto 13">
            <img src="img/hiperfocals.JPG" alt="foto 14">
            <img src="img/Hofmann - página errònea.JPG" alt="foto 15">
        </div>

        <div class="column">
            <img src="img/IMG_0475.JPG" alt="foto 16">
            <img src="img/IMG_20200617_154330_1.jpg" alt="foto 17">
            <img src="img/IMG_4769petita.jpg" alt="foto 18">
            <img src="img/Invitació Oktoberfest.jpg" alt="foto 19">
            <img src="img/Malawi - Cape Mc Clear.jpg" alt="foto 20">
        </div>

    </div>
    
    <footer>
        <img src="../public/1.png" />
        <img src="../public/2.png" />
        <img src="../public/3.gif" />
        <img src="../public/4.png" />
        <img src="../public/5.jpg" />
        <img src="../public/6.jpg" />
    </footer>


</body>
</html>